<h1>Editar Modelo de Produto</h1>

<% if @product_type.errors.any?  %>
  <span> Verifique os campos abaixo: </span>
  <ul>
    <% @product_type.errors.full_messages.each do |msg|  %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @product_type do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :weight, 'Peso' %>
    <%= f.text_field :weight %>
  </div>
  <div>
    <%= f.label :height, 'Altura' %>
    <%= f.text_field :height %>
  </div>
  <div>
    <%= f.label :width, 'Largura' %>
    <%= f.text_field :width %>
  </div>
  <div>
    <%= f.label :length, 'Profundidade' %>
    <%= f.text_field :length %>
  </div>
  <div>
    <%= f.label :supplier_id, 'Fornecedor' %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :trading_name, { include_blank: true } %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>