<h1> <%= @product_type.name %> </h1>
<h3>SKU: <%= @product_type.sku %></h3>
<dl>
  <dt>Peso:</dt>
  <dd><%= @product_type.weight %> gramas</dd>
  <dt>Dimensões:</dt>
  <dd><%= @product_type.dimensions %></dd>
  <dt>Fornecedor:</dt>
  <dd><%= @product_type.supplier.trading_name if @product_type.supplier %></dd>
  <dt>Categoria:</dt>
  <dd><%= @product_type.product_category.name if @product_type.product_category %></dd>
</dl>

<%= link_to 'Voltar', @product_type.supplier %> |
<%= link_to 'Editar', edit_product_type_path %>