<div class='ls-login-parent'>
  <div class='ls-login-inner'>
    <div class='ls-login-container'>
      <div class='login-box'>

        <h2>Forgot your password?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'ls-btn ls-btn-primary ls-btn-ls' %>
          </div>
        <% end %>

        <p><%= render "devise/shared/links" %></p>

      </div>
    </div>
  </div>
</div>
