<h1 class="ls-title-intro ls-ico-list2 ls-no-bg">Galpões cadastrados:</h1>
<% if user_signed_in? %>
  <p><%= link_to 'Cadastrar novo galpão', new_warehouse_path%></p>
<% end %>

<% if user_signed_in? %>
  <h2>Buscar galpões</h2>
  <%= form_with url: search_warehouses_path, method: :get do %>
    <%= label_tag :q, 'Busca:' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Pesquisar' %>
  <% end %>
<% end %>

<% @warehouses.each do |w| %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-4">
        <%= link_to w.name, warehouse_path(w.id) %>
        <small><%= w.code %></small>
      </div>
      <div class="col-md-3 col-md-offset-5 ls-txt-right">
        <%= link_to "Ver detalhes", warehouse_path(w.id), class: "ls-btn-primary ls-btn-sm"%>
      </div>
    </header>
  </div>
<% end %>

<hr>

<p><%= link_to 'Cadastrar modelo de produto', new_product_type_path %></p>
<p><%= link_to 'Criar novo kit de produtos', new_product_bundle_path %></p>