<h1> <%= @supplier.trading_name %> </h1>
<h3><%= @supplier.company_name %></h3>
<dl>
  <dt>CNPJ:</dt>
  <dd><%= @supplier.cnpj %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.address %></dd>
  <dt>E-mail: </dt>
  <dd><%= @supplier.email %></dd>
  <dt>Telefone:</dt>
  <dd><%= @supplier.telephone %></dd>
</dl>

<h2>Produtos deste Fornecedor:</h2>

<table class="ls-table ls-table-striped ls-bg-header">
  <tr>
    <th>Produto</th>
    <th>SKU</th>
  </tr>
  <% @supplier.product_types.each do |p| %>
    <tr>
      <td> <%= link_to p.name, product_type_path(p.id) %></td>
      <td><%= p.sku %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Voltar', root_path %>