<!DOCTYPE html>
<html class="ls-theme-light-red">
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="192x192" href="/locawebstyle/assets/images/ico-boilerplate.png">
    <link rel="apple-touch-icon" href="/locawebstyle/assets/images/ico-boilerplate.png">
  </head>

  <body>
    <header>
      <div class="ls-topbar">
        <h1 class="ls-brand-name">
          <%= link_to root_path, class: "ls-ico-home" do %>
            <small>Sistema de gestão de galpões</small>
            WareHouse App
          <% end %>
        </h1>
        <div class="ls-notification-topbar">
          <div data-ls-module="dropdown" class="ls-dropdown ls-user-account ls-user-menu">
            <% if user_signed_in? %>
              <span> Olá <%= current_user.email %> </span>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Entrar', new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>

      <aside class="ls-sidebar">
        <div class="ls-sidebar-inner">
          <nav class="ls-menu" role="navigation">
            <ul>
              <li><%= link_to 'Início', root_path %></li>
              <li><%= link_to 'Fornecedores', suppliers_path %></li>
              <li><%= link_to 'Categorias', product_categories_path %></li>
            </ul>
          </nav>
        </div>
      </aside>

    </header>
    <main class="ls-main">
      <div class="container-fluid">
        <div class="ls-alert-info"><%= flash[:notice] %></div>
        <div class="ls-alert-danger"><%= flash[:alert] %></div>
        <%= yield %>
      </div>
    </main>
    <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
    <script src="http://assets.locaweb.com.br/locastyle/3.10.1/javascripts/locastyle.js"></script>
  </body>
</html>
